.cards {
    display: inline-flex !important;
    width: 22rem;
    margin: 1rem;
}

.cardBody {
    display: flex;
    justify-content: space-between;
}

.cardButton {
    width: 9rem;
}

/* @media (max-width: 400px) {
    .cards{
        min-width: 300px;
    }
} */